# # ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**has_passed** | **bool** | Whether the validation passed. | [optional]
**reason** | **string** | Reason of failed validation. Will only be populated when validation fails. | [optional]
**name** | **string** |  | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
